/*BASE
---------------------------------*/
body {
  color: #000;
  line-height: 1.7142857143;
  letter-spacing: 0.05em;
  font-family: "Helvetica", "Helvetica Neue", "Yu Gothic", "Hiragino Sans", "Hiragino Kaku Gothic ProN", "Meiryo", sans-serif;
  font-size: 14px;
  background-color: #fff;
}

a {
  text-decoration: none;
}

ul {
  padding-left: 0;
}

/* BLOCK
---------------------------------*/
.header {
  padding-top: 70px;
  padding-bottom: 100px;
}
.header__inner {
  width: 88%;
  max-width: 1170px;
  margin-left: auto;
  margin-right: auto;
}
.header__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
.header__item {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
.header__text {
  list-style: none;
  padding-left: 30px;
  font-weight: bold;
}

.footer {
  padding-top: 100px;
  padding-bottom: 30px;
}
.footer__inner {
  width: 88%;
  max-width: 1170px;
  margin-left: auto;
  margin-right: auto;
}
.footer__copy {
  color: #fff;
  font-size: 12px;
}
.footer__text {
  text-align: right;
  color: #898989;
}

.works {
  padding-top: 100px;
  padding-bottom: 100px;
}
.works__inner {
  width: 88%;
  max-width: 1170px;
  margin-left: auto;
  margin-right: auto;
}
.works__contents {
  margin-bottom: 59px;
}
.works__item {
  width: 370px;
}
.works__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.unit__catch {
  font-size: 12px;
  color: #898989;
  margin-bottom: 20px;
}
.unit__title {
  font-size: 38px;
  font-weight: normal;
  margin-bottom: 15px;
  padding-bottom: 30px;
  margin-bottom: 30px;
  position: relative;
}
.unit__title::after {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  bottom: 0px;
  width: 120px;
  height: 1px;
  background-color: #000;
}
.unit__text {
  margin-bottom: 40px;
}
.unit__eng {
  font-style: italic;
}

.card__title {
  margin-top: 35px;
  margin-bottom: 15px;
  font-size: 20px;
  font-weight: normal;
}
.card__catch {
  font-size: 12px;
  color: #898989;
}
.card__text {
  margin-top: 40px;
}

.project {
  padding-top: 100px;
  padding-bottom: 100px;
  background-color: #FDF8EB;
}
.project__inner {
  width: 88%;
  max-width: 1170px;
  margin-left: auto;
  margin-right: auto;
}
.project__contents {
  margin-bottom: 60px;
}
.project__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
.project__item {
  width: 560px;
}

.block__title {
  font-size: 12px;
  color: #fff;
  padding: 5px 11px;
  background-color: #E40065;
  display: inline-block;
  border-radius: 20px;
  margin: 30px 0;
}
.block__text {
  font-size: 20px;
}
.block__box {
  margin-top: 40px;
}
.block__note {
  margin-bottom: 15px;
}

.newsletter {
  background-color: #000;
  padding-top: 100px;
  padding-bottom: 100px;
  text-align: center;
  color: #fff;
}
.newsletter__title {
  font-size: 32px;
  font-weight: normal;
  margin-bottom: 30px;
}
.newsletter__box {
  display: inline-flex;
}
.newsletter__text {
  width: 300px;
  height: 40px;
}
.newsletter__btn {
  background-color: #E40065;
  display: block;
  color: #fff;
  width: 100px;
  border: none;
  height: 40px;
}

/*company*/
.company__inner {
  width: 88%;
  max-width: 1170px;
  margin-left: auto;
  margin-right: auto;
}
.company__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 100px;
}
.company__main {
  width: 30.7%;
}
.company__sub {
  width: 59.8%;
}
.company__item {
  width: 370px;
}
.company__contents {
  margin-bottom: 60px;
}
.company__target {
  color: #fff;
  padding: 150px 0px 160px 80px;
  margin-bottom: 60px;
}
.company__bg1 {
  background: url(../images/bg_project01.jpg) no-repeat center center/100%;
}
.company__bg2 {
  background: url(../images/bg_project02.jpg) no-repeat center center/100%;
}
.company__menu {
  padding-top: 100px;
  padding-bottom: 100px;
  background-color: #000;
  color: #fff;
  text-align: center;
}
.company__trans {
  font-size: 32px;
  font-weight: normal;
  margin-bottom: 30px;
}
.company__nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  justify-content: center;
  list-style: none;
}
.company__crumb {
  color: #fff;
}
.company__leftline {
  padding-left: 20px;
  margin-left: 20px;
  border-left: 1px solid #fff;
}
/*# sourceMappingURL=style.css.map */